# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\MEGN_540-Mechatronics\nickfisch_MEGN540-HW\MEGN540-HW\Discrete_Filter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
